<main>
    <section class="news container mt-5 pb-5">
        <div class="row">
            <div class="mt-5 col-md-8 col-sm-12">
                <h2>Valora tu vino Favorito</h2>
                <p>¿Cuál ha sido el último vino que has tomado? ¿Lo recomendarías?</p>
                <app-form [vinos]="vinos" [puntuaciones]="puntuaciones" (formSubmit)="dataReceived($event)"></app-form>
            </div>
            <div class="mt-5 col-md-5 col-sm-12">
                <h2>Valoraciones vinos</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre vino</th>
                            <th>Puntuación</th>
                            <th>Comentarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of valoraciones; track item;let i=$index) {
                        <tr>
                            <td>{{item.usuario}}</td>
                            <td>{{item.vino}}</td>
                            <td>{{item.puntuacion}}</td>
                            <td>{{item.comentarios}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>