<section class="news container mt-5 pb-5">
    <div class="row">
        <h1 class="display-6 fw-bold"><a href="{{web}}" title="{{web}}" target="_blank">{{name}}</a></h1>
        <p id="creacion">{{creacion}}</p>
        @for(item of descriptions;track item;let i=$index){
        <article class="col-md-3 col-sm-12">
            <app-card [attr]="'card' + (i + 1)" [imageCard]="item.imageCard" [title]="item.title"
                [description]="item.description"></app-card>
        </article>
        }
    </div>
</section>