@if (view=='denominacion') {
<section class="news container mt-5 pb-5">
    <div class="row">
        <div class="description">
            <h1 class="display-6 fw-bold"><a href="{{web}}" title="{{web}}" target="_blank">{{name}}</a></h1>
            <p id="creacion">{{creacion}}</p>
            @for (item of bodegasDo; track $index) {
            <p id="bodegas"><a href={{item.web}} target="_blank" title={{item.nombre}}>{{item.nombre}}</a></p>
            }
        </div>
        @for(item of descriptions;track item;let i=$index){
        <article class="col-md-3 col-sm-12">
            <app-card [attr]="'card' + (i + 1)" [imageCard]="item.imageCard" [title]="item.title"
                [description]="item.description"></app-card>
        </article>
        }
    </div>
</section>
}@else if(view=='home'){
<section class="news container mt-5 pb-5">
    <div class="row">
        <article>
        </article>
    </div>
</section>
}
@else if(view=='bodega'){
<section class="news container mt-5 pb-5">
    <div class="row">
        <div class="description">
            @if(bodega[0].web !=null){
            <h1 class="display-6 fw-bold"><a href="{{bodega[0].web}}" title="{{bodega[0].web}}"
                    target="_blank">{{bodega[0].nombre}}</a></h1>
            }@else {
            <h1 class="display-6 fw-bold"><a href="" title="" target="_blank">{{bodega[0].nombre}}</a></h1>
            }
            <p><strong>{{bodega[0].denominacion}}</strong></p>
            <p>{{bodega[0].direccion}}</p>
            <p>{{bodega[0].poblacion}}, {{bodega[0].provincia}}</p>
            <p>{{bodega[0].telefono}}</p>
            <p>{{bodega[0].email}}</p>
        </div>
        @for (item of vinos; track item;let i=$index) {
        <article class="col-md-2 col-sm-12">
            <app-card-vino [attr]="'cardVino' + (i + 1)" [imageCard]="item.image" [title]="item.name"
                [maduracion]="item.maduracion"></app-card-vino>
        </article>
        }
    </div>
</section>
}@else if(view=='vino'){
<section class="news container mt-5 pb-5">
    <div class="row">
        <div>
            <h1 class="display-6 fw-bold">{{title}}</h1>
        </div>
        @for (item of vinosColor; track item;let i=$index) {
        <article class="col-md-3 col-sm-12">
            <app-card-vino [attr]="'cardVino' + (i + 1)" [imageCard]="localhost+item.imagen" [title]="item.nombre"
                [vino]="item" (cardClicked)="onCardClicked($event)"></app-card-vino>
        </article>
        }
    </div>
</section>
}