<form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
    <div class="form-group mt-2 mb-2">
        <input type="text" class="form-control mt-2 mb-2 w-25" formControlName="usuario"
            placeholder="nombre de usuario">
    </div>
    <div class="form-group mt-2 mb-2">
        <label for="puntuacion">¿Qué puntuación le quieres dar?</label>
        @for(item of puntuaciones;track item;let i=$index){
        <div class="form-check mt-2 mb-2">
            <input class="form-check-input" type="radio" formControlName="puntuacion" value={{item.id}}>
            <label class="form-check-label" for="puntuacion">
                {{item.descripcion}}
            </label>
        </div>
        }
    </div>
    <div class="form-group mt-2 mb-2">
        <label for="comentarios">¿Quieres dejar un comentario?</label>
        <textarea class="form-control mt-2 mb-2 w-25" formControlName="comentarios" rows="3"></textarea>
    </div>
    <div class="row">
        <div class="form-group mt-2 mb-2 col-1">
            <button class="btn btn-dark" type="submit">Enviar</button>
        </div>
        <div class="form-group mt-2 mb-2 col-1">
            <button class="btn btn-dark" type="submit">Borrar</button>
        </div>
    </div>
</form>
